{% extends "layout.html" %}
{% block title %}404{% endblock %}
{% block content %}
<section class=" text-light p-5 text-center text-sm-start  vh-100" style="background-color: rgb(49, 49, 49)">
    <div class="container">
        <div class="align-items-center">
            <div class=" w-100">
                <h1><span class="fw-bolder text-danger">404</span> Page not found</h1>
                <p class="my-2">
                    Looks like you tried to request for a page which does not exist or has been removed, if you think this is a mistake, please contact us in our <a class="fw-bold" href="/discord">Discord Server</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}