{% extends "layout.html" %}
{% block title %}Expired{% endblock %}
{% block content %}
<section class=" text-light p-5 text-center text-sm-start  vh-100" style="background-color: rgb(49, 49, 49)">
    <div class="container">
        <div class="align-items-center">
            <div class=" w-100">
                <h1>Server <strong class="text-danger">Expired</strong></h1>
                <p class="my-2">
                    Looks like you tried to request for a VIP server which is no longer working, try searching in our <a href="/game-list" class="fw-bold text-decoration-none">games list</a> for another server.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}