{% extends "layout.html" %}
{% block title %}Terms of Service{% endblock %}
{% block content %}
<section class=" text-light p-5 min-vh-100" style="background-color: rgb(49, 49, 49)">
    <div class="container">
        <div class="align-items-center">
            <div class="w-100">
                <h1>RBXServer's Terms of service</h1>
                <h5 style="color: rgb(219, 219, 219)">
                    Last amended 2022-08-18
                </h5>
                <div class="rounded rounded-2 p-3 shadow-lg" style="background-color:rgb(31, 31, 31);color: rgb(201, 201, 201);" >
                    <h4>Acceptance of Terms</h4>
                    <p>Legal Agreement. The Terms of Service (“Terms”), which include and hereby incorporate the Privacy Policy at https://rbxservers.xyz/privacy (“Privacy Policy”), is a legal agreement between rbxservers.xyz and its related services. and its related services (“us,” “our,” or "we") and you ("you" or “your”). By using or accessing the website located at https://rbxservers.xyz (the "Site"), which is referred to as the “Service,” you agree (i) that you are 13 years of age or older, (ii) if you are the age of majority in your jurisdiction or over, that you have read, understood, and accept to be bound by the Terms, and (iii) if you are between 13 and the age of majority in your jurisdiction, that your legal guardian has reviewed and agrees to these Terms.</p>
                    <p>Changes to Terms. rbxservers.xyz reserves the right to update these Terms, which we may do for reasons that include, but are not limited to, complying with changes to the law or reflecting enhancements to rbxservers.xyz. Unless we state otherwise, your continued use of the Service after we post modifications will constitute your acceptance of and agreement to those changes. If you object to the changes, your recourse shall be to cease using the Service.</p>
                    <h4>Rules of Conduct and Usage</h4>
                    <p>rbxservers.xyz may terminate or suspend your access to our website at any time, without notice, for any reason. As a condition of your use of the Service, and without limiting your other obligations under these Terms, you agree to comply with the restrictions and rules of use set forth in these Terms as well as any additional restrictions or rules set forth in the Service. As an example, you agree not to use the Service in order to:</p>
                    <ul>
                        <li>defame, libel, ridicule, mock, stalk, threaten, harass, intimidate or abuse anyone;</li>
                        <li>engage in conduct that is fraudulent or illegal or otherwise harmful to rbxservers.xyz or any other user;</li>
                        <li>upload or transmit (or attempt to upload or transmit) files that contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files or data, or any other similar software or programs or engage in any other activity that may damage the operation of the Service or other users' computers;</li>
                        <li>violate the contractual, personal, intellectual property or other rights of any party including using, uploading, transmitting, distributing, or otherwise making available any information made available through the Service in any manner that infringes any copyright, trademark, patent, trade secret, or other right of any party (including rights of privacy or publicity);</li>
                        <li>automatize your use of the website using bots or scrapers.</li>
                    </ul>
                </div>
            </div>
            <div>
        </div>
    </div>
</section>
{% endblock %}